.footer {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30vh;
  width: 100%;
}

.footerLeft {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.footerRight {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .download {
    height: 40%;
    width: 100%;
    // padding: 0 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .left {
      margin: 10px;
      position: relative;
      width: 30%;
      height: 30%;
    }
    
    .right {
      margin: 10px;
      position: relative;
      width: 30%;
      height: 30%;
  
    }
  }
  
  .footer_img {
    width: 100%;
    height: 60%;
    position: relative;
  }
}
