.footer {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30vh;
  width: 100%;
}

.footerLeft {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin: 10px;
  align-items: center;

  .right {
    margin-left: 10px;
  }

  .mid {
    // border: 1px green;
    width: 1px;
    background-color: rgba(128, 127, 127, 0.384);
    height: 50%;
  }
  a {
    text-decoration: none;
    font-size: 1.2rem;

    @media screen and (max-width: 400px) {
      font-size: 0.8rem;
      
    }

    &:hover {
      color: #5bac63;
    }
  }
}

.footerRight {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .download {
    height: 40%;
    width: 100%;
    // padding: 0 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .left {
      margin: 10px;
      position: relative;
      width: 30%;
      height: 30%;
    }
    
    .right {
      margin: 10px;
      position: relative;
      width: 30%;
      height: 30%;
  
    }
  }
  
  .footer_img {
    width: 100%;
    height: 60%;
    position: relative;
  }
}
