$main-color: #42b549;
$hover-color: #f3f3f3;
$nav-font-size: 12px;
$color-nav-faded: rgba(0, 0, 0, 0.54);
$color-shadow: rgba(49, 53, 59, 0.12);

.container {
  width: 100%;

  .header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 32px 0 9px;

    div {
      width: 160px;
      height: 34px;
      position: relative;
    }
  }

  .body {
    display: flex;
    position: relative;
    margin-top: 30px;
    min-height: 580px;

    .login_image {
      width: 816px;
      margin: 0 auto;
      display: block;
      border-style: none;
      position: relative;
    }

    section {
      width: 368px;
      background: #fff;
      position: absolute;
      top: 15px;
      left: 0;
      right: 0px;
      margin: auto;
      border-radius: 8px;
      padding: 32px;
      box-shadow: 0 1px 6px 0 $color-shadow;

      .section_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 26px;

        * {
          margin: 0;
        }

        a {
          color: $main-color;
          font-size: 0.85rem;
          font-weight: 300;
        }
      }

      .section_body {
        font-size: 0.8rem;
        margin-top: 42px;
        font-weight: 500;
        text-align: left;
        color: rgba(0, 0, 0, 0.54);

        form {
          margin-top: 0em;

          // Label + Fields
          .label_fields_container {
            margin-bottom: 16px;

            //Input Container
            div {
              height: 40px;
              border-radius: 8px;
              display: flex;
              -webkit-box-align: center;
              align-items: center;
              flex: 1 1 0%;
              position: relative;
              overflow: hidden;
              transition: border-color 280ms ease 0s;
              background-color: var(--color-page-background, #ffffff);
              border: 1px solid #e5e7e9;

              &:focus {
                border: 1px solid #4fd15a;
              }
              input {
                padding-right: 12px;
                padding-left: 12px;
                min-width: 0;
                min-height: 0;
                width: 100%;
                color: var(--color-text-high, rgba(49, 53, 59, 0.96));
                font-family: inherit;
                background-color: transparent;
                line-height: 22px;
                border: none;
                outline: none;
                height: auto;
                font-size: 14px;
                padding-top: 8px;
                padding-bottom: 8px;
              }
            }
          }

          .remember_forget_container {
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            align-items: center;
            margin-bottom: 16px;

            .remember_me {
              width: 24px;
              height: 24px;
              display: inline-flex;
              -webkit-box-align: center;
              align-items: center;
              -webkit-box-pack: center;
              justify-content: center;

              label {
                cursor: pointer;
                display: inline-block;

                input {
                  width: 0px;
                  height: 0px;
                  opacity: 0;
                  position: absolute;
                  appearance: none;
                  margin: 0px;
                  padding: 0px;
                  cursor: default;

                  &::before {
                    transform: scale(1);
                    background: var(--G500, #03ac0e);
                  }

                  &:checked {
                  }
                }

                span {
                  width: 20px;
                  height: 20px;
                  border: 2px solid var(--N400, #6c727c);
                  border-radius: 4px;
                  vertical-align: middle;
                  position: relative;
                  display: inline-block;
                  transition: transform 200ms cubic-bezier(0.2, 0.64, 0.21, 1)
                    0s;
                  transform-box: fill-box;

                  &::before {
                    // transform: scale(0);
                    content: "";
                    border-radius: 4px;
                    position: absolute;
                    inset: -1px;
                    transition: transform 200ms cubic-bezier(0.2, 0.64, 0.21, 1)
                      0s;
                  }

                  &#remember_me:checked {
                    border-color: var(--G500, #03ac0e);
                  }

                  &::after {
                    border: none;
                  }
                }
              }
            }
          }

          button {
            width: 100%;
            height: 40px;
            color: rgb(255, 255, 255);
            font-family: "Nunito Sans", sans-serif;
            font-weight: 700;
            font-size: 1rem;
            line-height: 20px;
            text-indent: initial;
            background-color: var(--G500, #03ac0e);
            border: none;
            border-radius: 8px;
            display: block;
            outline: none;
            cursor: pointer;
            position: relative;
            padding: 0px 16px;
            transition: background-color 300ms ease 0s;
            margin-bottom: 16px;

            span {
              font-size: inherit;
              text-overflow: ellipsis;
              white-space: nowrap;
              opacity: 1;
              display: block;
              overflow: hidden;
              position: relative;
              top: 0px;
              transition: opacity 300ms linear 0s, top 300ms linear 0s;
            }
          }
        }
      }
    }
  }
}

.register_ending_header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 26px;

  * {
    margin: 0;
  }

  // a {
  //   color: $main-color;
  //   font-size: 0.85rem;
  //   font-weight: 300;
  // }

  p {
    font-size: 0.85rem;
    font-weight: 100;
  }
}

.back_arrow {
  background-image: url("https://assets.tokopedia.net/assets-tokopedia-lite/v2/zeus/kratos/c88b1e40.svg");
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  vertical-align: baseline;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  left: 35px;
  top: 65px;
  color: #000;
  background-color: transparent;
  z-index: 999;
}

.extra_margin {
  padding-left: 40px;
}