.container {
  padding: 36px 16px 16px;

  a {
    color: rgb(66, 181, 73);

    &:hover {
      color: rgb(255, 87, 94);
    }
  }
  .top_wrapper {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;

    // Search Bar
    div {
      display: flex;
      -webkit-box-align: center;
      align-items: center;

      div {
        border-radius: 8px;
        display: flex;
        -webkit-box-flex: inherit;
        flex-grow: inherit;
        -webkit-box-align: stretch;
        align-items: stretch;
        overflow: hidden;
        transition: border-color 280ms ease 0s;
        width: 300px;
        height: auto;
        background-color: var(--color-page-background, #ffffff);
        border: 1px solid var(--color-border, #e5e7e9);
        flex-direction: row-reverse;

        button {
          border: none;
          outline: none;
          position: relative;
          cursor: pointer;
          padding: 0;
          -webkit-transition: background-color 280ms ease;
          transition: background-color 280ms ease;
          width: 40px;
          background-color: var(--color-chip-disabled, #f3f4f5);
          -webkit-flex: 0 0 auto;
          -ms-flex: 0 0 auto;
          flex: 0 0 auto;

          &::after {
            content: "";
            background-size: 24px;
            background-image: url("/logo/search_icon.svg");
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
          }
        }

        input {
          padding-right: 12px;
          padding-left: 12px;
          min-width: 0;
          min-height: 0;
          width: 100%;
          color: var(--color-text-high, rgba(49, 53, 59, 0.96));
          font-family: inherit;
          background-color: transparent;
          line-height: 22px;
          border: none;
          outline: none;
          height: auto;
          font-size: 14px;
          padding-top: 8px;
          padding-bottom: 8px;
        }
      }
    }

    // Tambah Alamat Baru
    button {
      width: auto;
      height: 40px;
      color: rgb(255, 255, 255);
      font-family: "Nunito Sans", sans-serif;
      font-weight: 700;
      font-size: 0.857143rem;
      line-height: 24px;
      text-indent: initial;
      background-color: var(--G500, #03ac0e);
      border: none;
      border-radius: 8px;
      display: inline-block;
      outline: none;
      cursor: pointer;
      position: relative;
      padding: 0px 16px;
      transition: background-color 300ms ease 0s;

      &:hover {
        background-color: #12883d;
      }

      span {
        font-size: inherit;
        text-overflow: ellipsis;
        white-space: nowrap;
        opacity: 1;
        display: block;
        overflow: hidden;
        position: relative;
        top: 0px;
        transition: opacity 300ms linear 0s, top 300ms linear 0s;
      }
    }
    // END Tambah Alamat Baru
  }

  .transaction_wrapper {
    border: 1px solid rgb(224, 224, 224);
    border-radius: 2px;
    margin-top: 20px;

    .card_header {
      background-color: rgb(249, 249, 249);
      height: 37px;
      line-height: 37px;
      padding: 0px 24px;
      border-bottom: 1px solid rgb(224, 224, 224);

      a {
        display: block;
        float: left;

        font-size: 0.8rem;

        // &:hover {
        //   color: rgb(255, 87, 94)
        // }
      }

      .timestamp {
        float: right;
        color: rgba(0, 0, 0, 0.38);
        font-size: 0.8rem;
      }
    }
    .card_body {
      display: flex;

      .reputation {
        padding: 17px 24px 0px;
        width: 400px;
        min-width: 400px;
        border-right: 1px solid rgb(224, 224, 224);

        .header {
          display: flex;
          border-bottom: 1px solid rgb(224, 224, 224);
          padding-bottom: 20px;

          .shop_image_relative {
            width: 40px;
            height: 40px;
            position: relative;
          }

          .shop_detail {
            margin-left: 10px;

            .shop_name {
              height: 15px;
              line-height: 13px;
              font-size: 0.85rem;
            }

            .shop_badge {
              display: flex;
              margin-top: 5px;

              .shop_badge_image_relative {
                display: inline-block;
                position: relative;
                height: 17px;
                width: 90px;
              }
            }
          }

          button {
            margin-left: auto;
          }
        }
      }

      .product_list {
        position: relative;
        width: 100%;
        height: 200px;

        .product_list_container {
          margin: 0px;
          padding: 17px 24px;
          position: absolute;
          inset: 0px;

          h5 {
            font-weight: 600;
            color: rgba(0, 0, 0, 0.54);
            font-size: 0.8rem;
            margin: 0px 0px 10px;
            line-height: 20px;
          }

          .list_container {
            position: relative;
            height: calc(100% - 30px);
            overflow: auto;

            ul {
              margin: 0px 10px 0px 0px;
              padding: 0px;
              overflow: auto;

              li {
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                margin: 0px 0px 20px;
                padding: 0px;

                .product_image {
                  width: 60px;
                  height: 60px;
                  position: relative;
                }

                .product_info {
                  display: flex;
                  flex-flow: column;
                  -webkit-box-flex: 1;
                  flex-grow: 1;
                  -webkit-box-pack: center;
                  justify-content: center;
                  padding: 0px 10px;
                  max-width: 250px;

                  .product_title {
                    .title_wrapper {
                      display: inline-block;
                    }
                  }

                  .product_rating {
                    font-size: 0.65rem;

                    span {
                      display: inline-block;
                      margin-right: 10px;
                      margin-top: 6px;
                      vertical-align: middle;
                      color: rgba(0, 0, 0, 0.54);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    button {
      flex-shrink: 0;
      height: 32px;
      color: rgb(255, 255, 255);
      font-family: "Nunito Sans", sans-serif;
      font-weight: 700;
      font-size: 0.857143rem;
      line-height: 18px;
      text-indent: initial;
      background-color: var(--G500, #03ac0e);
      border: none;
      border-radius: 8px;
      display: inline-block;
      outline: none;
      cursor: pointer;
      position: relative;
      padding: 0px 16px;
      transition: background-color 300ms ease 0s;

      &:hover {
        background-color: #12883d;
      }
      span {
        font-size: inherit;
        text-overflow: ellipsis;
        white-space: nowrap;
        opacity: 1;
        display: block;
        overflow: hidden;
        position: relative;
        top: 0px;
        transition: opacity 300ms linear 0s, top 300ms linear 0s;
      }
    }

    .address_checklist_container {
      position: absolute;
      top: 50%;
      right: 24px;
      transform: translateY(-50%);

      picture {
        width: 100%;
        border-radius: 4px;
        height: 100%;
        display: flex;
        background-image: none;

        div {
          position: relative;
          width: 24px;
          height: 24px;
          border-radius: 4px;
        }
      }
    }
  }

  .address_item {
  }
}
