$main-color: #42b549;
$main-color-darker: #13883e;
$hover-color: #f3f3f3;
$nav-font-size: 12px;
$color-nav-faded: rgba(0, 0, 0, 0.54);
$color-text-high: rgba(49, 53, 59, 0.96);
$color-shadow: rgba(49, 53, 59, 0.12);
$color-border: #e5e7e9;
$color-page-background: #ffffff;
$phone: 550px;

.container {
  min-height: calc(100vh - 110px);
  font-family: "Open Sans";
  .seller_navbar {
    position: fixed;
    height: auto;
    top: 110px;
    bottom: 0px;
    left: 0px;
    background-color: var(--N0, #ffffff);
    box-shadow: rgb(0 0 0 / 4%) 0px 2px 6px 0px;
    box-sizing: border-box;
    text-align: left;
    white-space: nowrap;
    overflow: hidden scroll;
    z-index: 20;

    nav {
      width: 230px;
      height: 100%;
      box-sizing: border-box;
      z-index: 20;
      transition: width 0.2s ease 0s;
      list-style: none;

      li {
        &:hover {
          background-color: #f5f5f5;
        }
      }
      .seller_header {
        padding: 17px 13px;
        max-height: 400px;
        list-style: none;
        margin: 0px;
        transition: max-height 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96) 0s;

        li {
          line-height: 22px;
          visibility: visible;
          opacity: 1;
          border-radius: 4px;

          .seller_header_container {
            display: flex;

            .seller_image {
              position: relative;
              display: block;
              width: 48px;
              height: 48px;
              img {
                width: 100%;
                height: 100%;
                border: 2px solid var(--N0, #ffffff);
                object-fit: cover;
                object-position: center center;
                border-radius: 50%;
                box-shadow: rgb(0 0 0 / 12%) 0px 0px 10px 0px;
              }
            }

            .seller_header_detail_container {
              margin-left: 20px;
              display: flex;
              flex-direction: column;
              justify-content: center;

              .seller_name {
                color: $color-text-high;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }

  .seller_display {
    position: fixed;
    height: auto;
    top: 110px;
    bottom: 0px;
    left: 230px;
    background-color: var(--N0, #ffffff);
    box-shadow: rgb(0 0 0 / 4%) 0px 2px 6px 0px;
    box-sizing: border-box;
    text-align: left;
    white-space: nowrap;
    overflow: hidden scroll;
    z-index: 20;
    width: calc(100vw - 230px);
  }
  li {
    display: list-item;
  }
}

.item_seller_container {
  position: relative;
  display: flex;
  cursor: pointer;
  height: 36px;
  padding-right: 12px;
  justify-content: space-between;
  padding-left: 3px;
  align-items: center;

  .item_seller_logo {
    display: flex;
    padding: 8px 10px;
    position: relative;
    box-sizing: border-box;
    align-items: center;
  }

  .item_seller_name {
    visibility: visible;
    opacity: 1;
    display: inline-block;
    transition: all 100ms linear 0s;
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--NN950, #212121);
  }
}

.icon_relative {
  width: 24px;
  height: 24px;
  position: relative;
}
