.overlay_container {
  display: block;
  z-index: 60;
  opacity: 1;
  min-width: 500px;
  background-color: var(--color-card, #ffffff);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  padding: 32px;
  text-align: center;
  transition: opacity 0.2s ease 0s;
  box-shadow: 0px 1px 6px var(--color-shadow, rgba(49, 53, 59, 0.12));
  max-width: 460px;
  line-height: 1.5;
}

.close_button {
  display: block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 16px;
  background-image: url("/logo/icon_cross.svg");
  background-position: center center;
  background-size: 16px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  appearance: none;
}

.overlay_header {
  display: block;
  position: relative;
  font-weight: 400;
  font-family: "Nunito Sans", -apple-system, sans-serif;
  font-size: 1.71429rem;
  line-height: 30px;
  color: var(--color-text-high, rgba(49, 53, 59, 0.96));
  text-decoration: initial;
  margin: 0px 0px 16px;
}

.fields_overlay_container {
  text-align: left;
  margin: 24px 0px 32px;
}

.fields_container_label {
  color: var(--color-text-low, rgba(49, 53, 59, 0.68));
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  display: inline-block;
  pointer-events: none;
  margin-bottom: 4px;
}

.warning_text {
  color: red;
}

.input_container {
  height: 40px;
  border-radius: 8px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex: 1 1 0%;
  position: relative;
  overflow: hidden;
  transition: border-color 280ms ease 0s;
  background-color: var(--color-page-background, #ffffff);
  border: 1px solid var(--color-border, #e5e7e9);

  &:focus-within {
    border-color: #57d361;
  }
}

.input_fields {
  padding-right: 12px;
  padding-left: 12px;
  min-width: 0;
  min-height: 0;
  width: 100%;
  color: var(--color-text-high, rgba(49, 53, 59, 0.96));
  font-family: inherit;
  background-color: transparent;
  line-height: 22px;
  border: none;
  outline: none;
  height: auto;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.button_overlay_disable {
  height: 48px;
  color: var(--N400, #6c727c);
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 1.14286rem;
  line-height: 22px;
  text-indent: initial;
  background-color: var(--N75, #e5e7e9);
  border: none;
  border-radius: 8px;
  display: inline-block;
  outline: none;
  cursor: not-allowed;
  position: relative;
  padding: 0px 16px;
  transition: background-color 300ms ease 0s;
  width: 160px;

  span {
    font-size: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: 1;
    display: block;
    overflow: hidden;
    position: relative;
    top: 0px;
    transition: opacity 300ms linear 0s, top 300ms linear 0s;
  }
}

.grid_overlay_container {
  // margin: 20px 0;
  // display: flex;
  // justify-content: center;
  margin-top: 50px;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(3, calc(100% / 3));
  grid-auto-rows: minmax(calc(50px), max-content);
  gap: 2px;
  grid-auto-flow: dense;
  overflow: hidden;
  // min-height: 290px;
}

.button_overlay {
  height: 48px;
  color: rgb(255, 255, 255);
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 1.14286rem;
  line-height: 22px;
  text-indent: initial;
  background-color: var(--G500, #03ac0e);
  border: none;
  border-radius: 8px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 0px 16px;
  transition: background-color 300ms ease 0s;
  width: 160px;
}

.container_flex {
  display: flex;
}

.image_icon {
  width: 30px;
  height: 30px;
  position: relative;
}

.container_flex_align_center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

$button-color: #01911e;
.text_button {
  margin: 0 10px;
  width: auto;
  height: 40px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 0.857143rem;
  line-height: 24px;
  text-indent: initial;
  background-color: transparent;
  border: 3px solid $button-color;
  border-radius: 8px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 0px 16px;
  transition: background-color 300ms ease 0s;
  color: $button-color;

  &:hover {
    color: #fff;
    background-color: $button-color;
  }

  span {
    font-size: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: 1;
    display: block;
    overflow: hidden;
    position: relative;
    top: 0px;
    transition: opacity 300ms linear 0s, top 300ms linear 0s;
  }
}
