$card-color: #ffffff;

.main {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "open sans", "tahoma", sans-serif;
  overflow: auto;

    .main_inner_container {
      width: 100%;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
    }

    .main_right_container {
      margin: 30px;
      // width: calc(100% - 268px);
      width: calc(100% - 0px);
      height: calc(100vh - 185px);
      // height: calc(100vh - 0px);

      .right_flex_container {
        width: 100%;
        height: 100%;
        display: flex;
        border-radius: 12px;
        box-shadow: var(--N700, rgba(49, 53, 59, 0.12)) 0px 1px 6px 0px;
        overflow: auto;

        .chat_list_wrapper {
          position: relative;
          width: 100%;
          height: 100%;
          max-width: 300px;
          min-width: 250px;
          border-right: 1px solid var(--N75, #e5e7e9);

          .chat_list_top_wrapper {
            height: 114px;
            padding: 16px 16px 10px;
            border-top-left-radius: 12px;
            background-color: var(--N0, #ffffff);

            .chat_list_top_header {
              display: flex;
              -webkit-box-pack: justify;
              justify-content: space-between;
              -webkit-box-align: center;
              align-items: center;
              margin-bottom: 12px;

              h1 {
                font-size: 24px;
                margin: 0px;
                line-height: 33px;
                display: block;
                position: relative;
                font-weight: 800;
                font-family: "Nunito Sans", -apple-system, sans-serif;
                color: var(--color-text-high, rgba(49, 53, 59, 0.96));
                text-decoration: initial;
              }
            }

            .chat_list_search_wrapper {
              display: flex;
            }
          }

          .chat_list_bottom_wrapper {
            position: relative;
            z-index: 1;
            // overflow-y: auto;
            height: calc(100% - 114px);
            border-bottom-left-radius: 12px;
            -webkit-box-flex: 1;
            flex-grow: 1;
            overflow: auto;

            .chat_list_item_wrapper {
              position: relative;
              cursor: pointer;
              width: 100%;
              height: 76px;
              padding: 4px;

              .chat_list_item_flex_active {
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                padding: 10px 12px;
                border-radius: 20px;
                background-color: var(--G100, #ebffef);
              }

              .chat_list_item_flex {
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                padding: 10px 12px;
                border-radius: 20px;

                &:hover {
                  background-color: #f3f4f5;
                }
              }

              .shop_image_wrapper {
                position: relative;
                flex: 0 0 auto;
                margin-right: 12px;

                .shop_image_relative {
                  width: 48px;
                  height: 48px;
                  border-radius: 50%;
                  overflow: hidden;
                  position: relative;
                }
              }

              .shop_name_wrapper {
                width: calc(100% - 124px);

                .shop_name_flex {
                  display: flex;
                  -webkit-box-align: center;
                  align-items: center;
                  margin-bottom: 2px;

                  h3 {
                    margin: 0px 5px 0px 0px;
                    color: var(--N700, rgba(49, 53, 59, 0.96));
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 20px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                }

                .shop_chat_hints_container {
                  display: flex;
                  -webkit-box-align: center;
                  align-items: center;
                  overflow: hidden;
                  white-space: nowrap;

                  div {
                    color: var(--N700, rgba(49, 53, 59, 0.68));
                    font-size: 12px;
                    line-height: 18px;
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                  }
                }
              }

              .chat_time_wrapper {
                width: 64px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                .chat_time_container {
                  margin-bottom: 5px;
                  font-size: 12px;
                  line-height: 18px;
                  color: var(--N700, rgba(49, 53, 59, 0.44));
                }
              }
            }
          }
        }

        .chat_details_wrapper {
          width: 100%;
          height: 100%;
          min-width: 400px;

          // @media screen and (max-width: 1000px) {
          //   min-width: 0px;
          // }

          @media screen and (max-width: 500px) {
            min-width: 400px;
          }
        }

        .empty_chat_image_wrapper {
          display: flex;
          flex-direction: column;
          height: 100%;
          width: 100%;
          position: relative;
          overflow: auto;

          .empty_chat_image {
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            background-color: rgba(229, 245, 255, 0.2);
            overflow: hidden;

            .empty_chat_image_content {
              text-align: center;
              
              margin-bottom: 5vh;
              .empty_chat_image_relative {
                display: block;
                width: 100%;
                height: 276px;
                position: relative;
              }
              h1 {
                color: var(--N700, rgba(49, 53, 59, 0.96));
                font-size: 20px;
                line-height: 26px;
                margin: 16px 0px 0px;
              }

              p {
                font-size: 14px;
                color: var(--N700, rgba(49, 53, 59, 0.68));
                margin: 4px 0px 0px;
                line-height: 20px;
              }
            }
          }
        }

        .chat_details_flex {
          display: flex;
          flex-direction: column;
          height: 100%;
          position: relative;
          width: auto;

          .chat_details_top_wrapper {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            width: 100%;
            min-height: 64px;
            padding: 8px 16px;
            background-color: var(--N0, #ffffff);

            &::-webkit-scrollbar {
              margin-top: 5px;
              width: 3px;
              height: 3px;
            }

            .chat_details_top_profile {
              flex: 0 0 auto;
              position: relative;
              cursor: pointer;
              height: 48px;
              width: 48px;
              border-radius: 50%;
              overflow: hidden;
            }

            .chat_details_top_shop_detail {
              -webkit-box-flex: 1;
              flex-grow: 1;
              cursor: pointer;
              margin-left: 16px;
              width: calc(100% - 104px);

              .profile_name_wrapper {
                display: flex;
                -webkit-box-align: center;
                align-items: center;

                .shop_type {
                  width: 18px;
                  height: 18px;
                  position: relative;
                }

                p {
                  margin: 0px;
                  font-size: 16px;
                  font-weight: 800;
                  color: var(--N700, rgba(49, 53, 59, 0.96));
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  overflow: hidden;
                  line-height: 22px;
                }
              }

              p {
                font-size: 11px;
                margin: 2px 0px 0px;
                color: var(--N700, rgba(49, 53, 59, 0.68));
                line-height: 13px;
              }
            }

            .chat_details_top_icon {
              flex: 0 0 auto;
              position: relative;
              width: 24px;
              height: 24px;
              margin-left: 16px;
            }
          }

          .chat_details_bottom_wrapper {
            -webkit-box-flex: 1;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            height: calc(100% - 64px);
            position: relative;

            .chat_content_wrapper {
              position: relative;
              overflow: hidden;
              -webkit-box-flex: 1;
              flex-grow: 1;

              .chat_content_container {
                position: absolute;
                right: 0px;
                left: 0px;
                height: 100%;
                overflow-y: auto;
                padding: 0px 16px;

                .chat_content_overflow_container {
                  position: relative;
                  display: flex;
                  flex-direction: column;
                  -webkit-box-pack: end;
                  justify-content: flex-end;
                  min-height: 100%;

                  .chat_content_inner_container {
                    .chat_content_date {
                      text-align: center;
                      margin: 12px 0px 8px;

                      span {
                        color: rgba(0, 0, 0, 0.38);
                        font-size: 12px;
                      }
                    }

                    .chat_item {
                      margin-top: 8px;

                      .message_wrapper {
                        background-color: var(--N0, #ffffff);
                        color: var(--N700, rgba(49, 53, 59, 0.96));
                        border: solid 1px var(--N75, #e5e7e9);
                        text-align: left;
                        display: inline-block;
                        border-radius: 0px 20px 20px;

                        &:first-child {
                          margin-top: 0px;
                        }
                      }

                      .message_content {
                        font-size: 14px;
                        line-height: 20px;
                        word-break: break-word;
                      }
                    }

                    .chat_item.sender .message_wrapper {
                      border-radius: 20px 0px 20px 20px;
                      background-color: var(--N50, #f3f4f5);
                      color: var(--N700, rgba(49, 53, 59, 0.96));
                      border: none;
                    }

                    .inline {
                      display: inline;
                    }

                    .message_time_status {
                      margin-left: 8px;
                      margin-top: 4px;
                      float: right;
                      div {
                        display: flex;
                        -webkit-box-align: center;
                        align-items: center;
                        -webkit-box-pack: end;
                        justify-content: flex-end;
                        margin-bottom: -2px;
                        span {
                          font-size: 12px;
                          line-height: 16px;
                          color: rgba(0, 0, 0, 0.38);
                          margin-left: 4px;
                        }
                      }
                    }

                    .inbox {
                    }

                    .chat_item.inbox .message_wrapper {
                      max-width: 70%;
                      padding: 8px 16px;
                    }

                    .sender {
                      text-align: right;
                    }
                  }
                }
              }
            }

            .chat_input_wrapper {
              display: flex;
              margin-top: 12px;
              padding: 0px 16px 16px;
              align-items: flex-end;

              .chat_input_text_wrapper {
                position: relative;
                -webkit-box-flex: 1;
                flex-grow: 1;
                width: calc(100% - 48px);
                display: flex;
                align-items: flex-end;

                .chat_input_text_container {
                  position: relative;
                  -webkit-box-flex: 1;
                  flex-grow: 1;
                  display: flex;

                  textarea {
                    resize: none;
                    background-color: var(--N0, #ffffff);
                    width: 100%;
                    margin-bottom: 0px;
                    line-height: 20px;
                    color: var(--N600, #40454c);
                    overflow-x: hidden;
                    border: 1px solid var(--N75, #e5e7e9) !important;
                    border-radius: 20px !important;
                    padding: 10px 34px 10px 40px !important;
                    font-size: 13px !important;
                    overflow: auto;
                    margin: 0;
                    font-family: sans-serif;

                    &:focus {
                      border: none;
                      outline: none;
                    }
                  }
                }
              }

              .button_send_chat {
                -webkit-appearance: button;
                cursor: pointer;
                border: none;
                border-radius: 50%;
                background-color: var(--G500, #03ac0e);
                padding: 0px;
                width: 40px;
                height: 40px;
                margin-left: 8px;

                svg {
                  display: inline-block;
                  vertical-align: middle;
                }
              }
            }
          }
        }
      }

      .settings_tab_outer_container {
        // background-color: #fff;
        // border: 1px solid var(--N100, #dbdee2);
        // width: 940px;
        // border-radius: 8px;
        width: 100%;
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 1);
        border: 1px solid #e0e0e0;
        padding: 24px 0;

        .settings_tab_navigator_container {
          .settings_tab_navigator_container_flex {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            position: relative;
            border-bottom: 1px solid var(--N75, #e5e7e9);
            min-height: 48px;
            white-space: nowrap;
            background-color: var(--color-page-background, #ffffff);
            overflow-x: auto;
            overflow-y: hidden;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;

            .settings_tab_navigator_item_active {
              display: inline-block;
              box-sizing: border-box;
              height: 52px;
              padding: 16px 24px;
              line-height: 20px;
              font-weight: 800;
              color: var(--G500, #03ac0e);
              text-transform: capitalize;
              font-size: 14px;
              cursor: pointer;
              -webkit-transition: color 300ms cubic-bezier(0.63, 0.01, 0.29, 1);
              transition: color 300ms cubic-bezier(0.63, 0.01, 0.29, 1);
            }

            .settings_tab_navigator_item_inactive {
              display: inline-block;
              box-sizing: border-box;
              height: 52px;
              padding: 16px 24px;
              line-height: 20px;
              font-weight: 800;
              color: var(--color-text-placeholder, rgba(49, 53, 59, 0.44));
              text-transform: capitalize;
              font-size: 14px;
              cursor: pointer;
              -webkit-transition: color 300ms cubic-bezier(0.63, 0.01, 0.29, 1);
              transition: color 300ms cubic-bezier(0.63, 0.01, 0.29, 1);
            }

            .settings_tab_navigator_active_indicator {
              min-width: 16px;
              // width: 131px;
              height: 2px;
              border-radius: 1px;
              background-color: var(--G500, #03ac0e);
              position: absolute;
              bottom: 0px;
              // left: 0px;
              transition-duration: 300ms;
              transition-timing-function: cubic-bezier(0.63, 0.01, 0.29, 1);
            }
          }
        }

        .filter_wrapper {
          .filter_top_options_container {
            display: flex;
            margin-bottom: 15px;
            margin-top: 0px;
            padding: 0px 16px;
            cursor: pointer;

            .search_field_container {
              -webkit-box-flex: 1;
              flex-grow: 1;
              margin-right: 10px;

              div {
                border-radius: 8px;
                display: flex;
                -webkit-box-flex: inherit;
                flex-grow: inherit;
                -webkit-box-align: stretch;
                align-items: stretch;
                overflow: hidden;
                transition: border-color 280ms ease 0s;
                width: 300px;
                height: auto;
                background-color: var(--color-page-background, #ffffff);
                border: 1px solid var(--color-border, #e5e7e9);
                flex-direction: row-reverse;

                button {
                  border: none;
                  outline: none;
                  position: relative;
                  cursor: pointer;
                  padding: 0;
                  -webkit-transition: background-color 280ms ease;
                  transition: background-color 280ms ease;
                  width: 40px;
                  background-color: var(--color-chip-disabled, #f3f4f5);
                  -webkit-flex: 0 0 auto;
                  -ms-flex: 0 0 auto;
                  flex: 0 0 auto;

                  &::after {
                    content: "";
                    background-size: 24px;
                    background-image: url("/logo/search_icon.svg");
                    background-repeat: no-repeat;
                    background-position: center;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                  }
                }

                input {
                  padding-right: 12px;
                  padding-left: 12px;
                  min-width: 0;
                  min-height: 0;
                  width: 100%;
                  color: var(--color-text-high, rgba(49, 53, 59, 0.96));
                  font-family: inherit;
                  background-color: transparent;
                  line-height: 22px;
                  border: none;
                  outline: none;
                  height: auto;
                  font-size: 14px;
                  padding-top: 8px;
                  padding-bottom: 8px;
                }
              }
            }

            .category_dropdown_container {
              width: 250px;
              margin-right: 10px;
              flex-shrink: 0;
            }

            .date_choose_container {
              flex-shrink: 0;
              width: 270px;

              .date_choose_container_border {
                width: 100%;
                display: inline-flex;
                height: 40px;
                -webkit-box-align: center;
                align-items: center;
                padding: 0px 16px;
                border: 1px solid #e0e0e0;
                border-radius: 8px;
                cursor: pointer;

                &:hover {
                  border-color: #4fd15a;
                }

                input {
                  cursor: pointer;
                  width: 100%;
                  height: 100%;
                  border: none;
                  // padding: 2px 5px;
                  outline: none;

                  // &:focus {
                  //   border: none;
                  //   outline: none;
                  // }
                }
              }
            }
          }

          .filter_bottom_options_container {
            font-weight: 400;
            font-family: open sans, tahoma, sans-serif;
            font-size: 14px;

            .filter_bottom_options_wrapper {
              display: flex;
              -webkit-box-align: center;
              align-items: center;
              padding: 0px 16px;

              .filter_bottom_options_header {
                width: 60px;
                padding-right: 10px;
                flex-shrink: 0;
                p {
                  margin: 0px;
                  font-size: 0.85rem;
                  display: block;
                  position: relative;
                  font-weight: 700;
                  line-height: 22px;
                  color: var(--color-text-high, rgba(49, 53, 59, 0.96));
                  text-decoration: initial;
                }
              }

              .filter_options_container_flex_wrapper {
                -webkit-box-flex: 0;
                flex-grow: 0;
                max-width: calc(100% - 169px);

                .filter_options_container_flex {
                  margin: 0px;
                  width: 100%;
                  white-space: nowrap;
                  overflow: auto;

                  .filter_options_item {
                    margin-top: 4px;
                    margin-bottom: 4px;
                    font-size: 0.85rem;
                    display: inline-flex;
                    -webkit-box-align: center;
                    align-items: center;
                    vertical-align: top;
                    margin-right: 8px;
                    background-color: #fff;
                    border-radius: 16px;
                    border-width: 1px;
                    border-style: solid;
                    border-image: initial;
                    border-color: #e5e7e9;
                    color: rgba(49, 53, 59, 0.68);
                    flex: 1 1 0%;
                    flex-wrap: nowrap;
                    line-height: 16px;
                    height: 40px;
                    padding: 0px 12px;
                    text-overflow: ellipsis;
                    transition: all 200ms cubic-bezier(0.63, 0.01, 0.29, 1) 0s;
                    white-space: nowrap;
                    overflow: hidden;
                    cursor: pointer;

                    &:hover {
                      color: rgba(37, 40, 44, 0.9);
                    }
                  }

                  .filter_selected {
                    background-color: var(--color-chip-enabled, #ebffef);
                    border-color: var(--G400, #4fd15a);
                    color: var(--G500, #03ac0e);

                    &:hover {
                      color: rgba(49, 53, 59, 0.68);
                    }
                  }
                }
              }

              .filter_reset_container {
                width: 120px;
                text-align: center;
                flex-shrink: 0;

                p {
                  font-size: 0.857143rem;
                  cursor: pointer;
                  color: var(--G500, #03ac0e);
                  display: block;
                  position: relative;
                  font-weight: 700;
                  line-height: 20px;
                  text-decoration: initial;
                }
              }
            }
          }
        }

        .transaction_container {
          .transaction_card_container {
            margin-top: 16px;
            margin-bottom: 16px;
            padding: 0 16px;
          }
        }

        .pagination_container {
          padding: 0px 16px;
          margin-top: 16px;
        }
      }
    }
  }
